{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
  <div class="page-head"><h1 class="page-title">Change password</h1></div>
  <div class="island" style="max-width:480px">
    <form method="post" novalidate>
      {% csrf_token %}
      {% include "partials/form_errors.html" %}
      {% for field in form %}{% include "partials/field.html" %}{% endfor %}
      <div class="form-actions">
        <button class="btn primary">Change password</button>
        <a class="btn ghost" href="{% url 'home' %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
